.wrapperCard {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  width: 50%;
  align-items: center;
  gap: 4px;
}

.wrapperCard h4 {
  text-align: center;
  align-items: center;
  vertical-align: middle;
}

.imgWrapper {
  width: 240px;
  height: 120px;
  display: flex;
}

.proteinsWrapper {
  display: flex;
  gap: 4px;
}
